[Unit]
Description=Sway session
Documentation=man:systemd.special(7)
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target

Wants=plasma-polkit-agent.service
Wants=wireplumber.service
Wants=xdg-desktop-portal.service
Wants=xdg-desktop-portal-gtk.service
Wants=xdg-desktop-portal-wlr.service
Wants=nm-applet.service
Wants=blueman-applet.service
