# Junk that can appear anywhere in the tree
*~
*.swo
*.swp
*.pyc
*.mkv
*.mp4
*.appimage
__pycache__/
.DS_Store
.mypy_cache/
flake.lock
nohup.out
testdisk.log
.env*
!/.envrc
.zcompdump*
.zsh_history

# Known unwanted top-level entries, anchored so they never match
# tracked files deeper in the tree. Directories tracked in this repo
# manage their own contents via their own .gitignore.
/.adobe
/.android
/Android
/AndroidStudioProjects
/.ansible
/.arcrc
/.arduino15
/.asoundrc
/.asterisk_history
/.audacity-data
/.avcd
/.aws/
/.azure
/backup
/.bash_aliases
/.bash_history
/.bash_logout
/.bashrc.local
/.bashrc.manual
/.bashrc-master
/.bazel-cache
/.bin
/.boto
/.byobu
/.cargo/
/.chef
/.chrome-remote-desktop-session
/.chromium-bsu
/.clickhouse*
/.cline
/.cloud-locale-test.skip
/.codeblocks
/.continue
/.cups
/.cursor
/.cursor-server/
/.cursor-tutor
/.dbshell
/.dbus
/Desktop
/.dia
/.directory
/.direnv
/.dmrc
/.docker
/Documents
/.dotnet
/Downloads
/.dupload.conf
/.eclipse/
/.erg
/.ethereum/
/.fontconfig
/.fonts
/.fonts.conf
/.freerdp
/.gconf
/.gem/
/.gemini/
/.gimp-2.8
/git
/.gitconfig
/.gitkraken/
/.gitlab/
/.gitmodules
/.gk/
/.gksu.lock
/.gnome
/.gnome2
/.gnome2_private
/.gnupg
/.gnuplot_history
/.gnuplot-wxt
/go
/.goldendict
/.gphoto
/.gradle
/.grive
/.grok
/.gstreamer-0.10
/.gtk-bookmarks
/.gtkrc-2.0
/.gtkrc-2.0-kde4
/.gvfs
/hg
/.hplip/
/.ICEauthority
/.icons
/Images
/.ipython
/.java
/.kde
/.kgv
/.kingsoft
/.krew
/.launchpadlib
/.leechcraft
/.lesshst
/Library/
/.links2/
/.linphone-history.db
/.linphonerc
/.*.local
/.logseq
/.luarc.json
/.m2/
/.macromedia
/.manpath
/.minecraft
/.minikube
/.mission-control
/.mongorc.js
/.mono
/.motd_shown
/Movies/
/.mozilla
/Music
/.mysql_history
/.nano
/.nano_history
/.nbprofiler
/.NERDTreeBookmarks
/.netrc
/.nix-channels
/.nix-defexpr
/.nix-profile
/.node*
/.notion-py/
/.novaclient
/.npm
/.nvidia-settings-rc
/.nvm
/.oauth-tokens
/.octave_hist
/.oh-my-zsh
/.opengrep/
/.openshot_qt
/.openvas
/.openvasrc
/.p2/
/package.json
/package-lock.json
/.pdbhistory
/.pex
/Pictures
/.pki
/.please*
/.pnpm-store
/.presage/
/.Private
/Private
/.profile*
/Public
/.pulse
/.pulse-cookie
/.purple
/.pyenv
/.pylint.d
/.pyre/
/.python_history
/.qttest
/.recently-used
/.remmina
/.rnd
/RPM
/.rpmdb
/.rpmmacros
/.rustup
/.secureConnect
/.semgrep
/.shutter
/.Skype
/snap
/.sqldeveloper
/.sqlite_history
/.sqlmap/
/.sqlplus_history
/squashfs-root
/src.code-workspace
/.sshluks*
/.steam
/Steam
/.steampath
/.steampid
/.stfolder
/.stignore
/.subversion
/.sudo_as_admin_successful
/svn
/sway*
/Sync
/syncthing
/.tabby-client
/.tcc
/.telegram-cli
/.TelegramDesktop
/Templates
/.terraform.d
/.texmf-var
/.themes
/.thumbnails
/.thunderbird
/tmp
/.twinkle
/Ubuntu One
/.vagrant.d
/.vim
/.viminfo
/.vimrc
/.virt-manager
/VirtualBox VMs
/.visualvm
/.vnc
/.vscode
/.vscode-server
/.wdm/
/.webex
/.wget-hsts
/.wine
/.wireshark
/.Xauthority
/.Xdefaults
/.xinitrc
/.xinputrc
/.Xmodmap
/.xscreensaver
/.xsession-errors
/.xsession-errors.old
/.yarn
/.yarnrc
/.zoom/
/.zshrc.pre-oh-my-zsh*
