*~
.adobe
.android
Android
AndroidStudioProjects
.ansible
*.appimage
.arcrc
.arduino15
.asoundrc
.asterisk_history
.audacity-data
.avcd
.aws/
.azure
backup
.bash_aliases
.bash_history
.bash_logout
.bashrc.local
.bashrc.manual
.bashrc-master
.bin
.boto
.byobu
.cache
.cargo/
.chef
.chrome-remote-desktop-session
.chromium-bsu
.clickhouse*
.cloud-locale-test.skip
.codeblocks
!.config/
.config/*
!.config/environment.d
!.config/flake8
!.config/gtk-3.0/settings.ini
!.config/i3
!.config/i3status
!.config/nix
!.config/nvim
.config/nvim/lua/plugins_config_manual/*
!.config/pulse/daemon.conf
!.config/pycodestyle
!.config/sway
!.config/swaylock
!.config/terminator
!.config/tmux
!.config/waybar
.cups
.dbshell
.dbus
Desktop
.dia
.directory
.dmrc
.docker
Documents
.dotnet
Downloads
.dupload.conf
.eclipse/
.env*
.erg
.ethereum/
.fontconfig
.fonts
.fonts.conf
.freerdp
.gconf
.gem/
.gimp-2.8
.git
git
.gitconfig
.gitmodules
.gksu.lock
.gnome
.gnome2
.gnome2_private
.gnupg
.gnuplot_history
.gnuplot-wxt
go
.goldendict
.gphoto
.gradle
.grive
.gstreamer-0.10
.gtk-bookmarks
.gtkrc-2.0
.gtkrc-2.0-kde4
.gvfs
hg
.hplip/
.ICEauthority
.icons
Images
.ipython
.java
.kde
.kgv
.kingsoft
.krew
.kube
.launchpadlib
.leechcraft
.lesshst
.links2/
.linphone-history.db
.linphonerc
.*.local
.local
.m2/
.macromedia
.manpath
.minecraft
.minikube
.mission-control
*.mkv
.mongorc.js
.mono
.mozilla
*.mp4
Music
.mypy_cache
.mysql_history
.nano
.nano_history
.nbprofiler
.NERDTreeBookmarks
.netrc
.nix-channels
.nix-defexpr
.nix-profile
.node*
nohup.out
.notion-py/
.novaclient
.npm
.nvidia-settings-rc
.nvm
.octave_hist
.oh-my-zsh
.openshot_qt
.openvas
.openvasrc
.p2/
.pam_environment
.pdbhistory
.pex
Pictures
.pki
.please*
.presage/
.profile*
Public
.pulse
.pulse-cookie
.purple
*.pyc
.pyenv
.pylint.d
.pyre/
.python_history
.qttest
.recently-used
.remmina
.rnd
RPM
.rpmdb
.rpmmacros
.rustup
.secureConnect
.semgrep
.shutter
.Skype
snap
.sqldeveloper
.sqlite_history
.sqlmap/
.sqlplus_history
squashfs-root
.ssh
.sshluks*
.sshrc
.steam
Steam
.steampath
.steampid
.subversion
.sudo_as_admin_successful
svn
sway*
*.swo
*.swp
.tabby-client
.tcc
.telegram-cli
.TelegramDesktop
Templates
.terraform.d
testdisk.log
.texmf-var
.themes
.thumbnails
.thunderbird
tmp
.tmux/
.twinkle
Ubuntu One
.vagrant.d
.var
venv
Videos
.vim
.viminfo
.vimrc
.virt-manager
VirtualBox VMs
.visualvm
.vnc
.vscode
.vscode-server
.wdm/
.webex
.wget-hsts
.wine
.wireshark
.Xauthority
.Xdefaults
.xinitrc
.xinputrc
.Xmodmap
.xscreensaver
.xsession-errors
.xsession-errors.old
.yarn
.yarnrc
.zcompdump*
.zoom/
.zsh_history
.zshrc.pre-oh-my-zsh*
