"Ubuntu One"
"VirtualBox VMs"
.ICEauthority
.Skype
.TelegramDesktop
.Xauthority
.Xmodmap
.adobe
.android
.asoundrc
.audacity-data
.avcd
.bash_history
.bash_logout
.bashrc-master
.bashrc.local
.bin
.cache
.chef
.codeblocks
.config
.cups
.dbshell
.dbus
.dia
.directory
.dmrc
.dupload.conf
.fontconfig
.fonts
.fonts.conf
.freerdp
.gconf
.gimp-2.8
.git
.gitconfig
.gksu.lock
.gnome
.gnome2
.gnome2_private
.gnupg
.gnuplot-wxt
.gnuplot_history
.goldendict
.gphoto
.gradle
.grive
.gstreamer-0.10
.gtk-bookmarks
.gtkrc-2.0
.gtkrc-2.0-kde4
.gvfs
.icons
.java
.kde
.kingsoft
.launchpadlib
.leechcraft
.lesshst
.linphone-history.db
.linphonerc
.local
.macromedia
.mission-control
.mongorc.js
.mono
.mozilla
.mysql_history
.nano_history
.nbprofiler
.novaclient
.npm
.octave_hist
.openvas
.openvasrc
.pam_environment
.pex
.pki
.profile
.pulse
.pulse-cookie
.purple
.qttest
.recently-used
.remmina
.rnd
.rpmdb
.rpmmacros
.shutter
.ssh
.sshrc
.steam
.steampath
.steampid
.subversion
.telegram-cli
.texmf-var
.themes
.thumbnails
.thunderbird
.twinkle
.vagrant.d
.vim
.vimrc
.virt-manager
.visualvm
.vscode
.webex
.wget-hsts
.wine
.wireshark
.xinputrc
.xsession-errors
Desktop
Documents
Downloads
Images
Music
Pictures
Public
RPM
Templates
Videos
git
hg
svn
tmp

