/*
!/.gitignore
!/Code/
!/act/
!/agents/
!/atuin/
!/autostart/
!/bash/
!/biome/
!/chromium-flags.conf
!/containers/
!/direnv/
!/docker-user/
!/dunst/
!/editorconfig-checker/
!/environment.d/
!/fcitx5/
!/flake8
!/flameshot/
!/git/
!/github-copilot/
!/gitleaks/
!/gtk-3.0/
!/i3/
!/i3status/
!/jj/
!/jjui/
!/lazygit/
!/markdownlint/
!/mimeapps.list
!/nix/
!/npm/
!/nvim/
!/pnpm/
!/pulse/
!/pycodestyle
!/pylintrc
!/shell/
!/sqlite3/
!/sway/
!/swaylock/
!/systemd/
!/taplo/
!/terminator/
!/tmux/
!/typos/
!/vim/
!/waybar/
!/wezterm/
!/yamllint/
!/zsh/
